@import url('https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* 게임 시작화면 */
body {
  background-color: rgb(227, 67, 138);
  overflow: hidden;
}

body, #titleWrap h1, #startWrap input {
  padding: 0;
  margin: 0;
}

#titleWrap h1, #startWrap input {
  font-family: 'jua', sans-serif;
}

#titleWrap h1, #startWrap {
  text-align: center;
}

#titleWrap h1 {
  padding-top: 250px;
  font-size: 70pt;
}

#startWrap input {
  font-size: 40pt;
  width: 270px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(255, 246, 0);
  border: 2px solid black;
}

/* 게임 */
#container {
  width: 700px;
  margin: 50px auto;
  text-align: center;
}

#game-area img {
  width: 128px;
  height: 128px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#game-area {
  background-color: #DBA901;
}
