@charset "utf-8";
/* CSS Code */
* {margin:0; padding:0}
#score {position:relative; left:0; top:0; width:100px; padding:15px 0; text-align:center; border:1px solid #999;}
#stage {position:relative; margin:0 auto; width:900px; height:900px; border:1px solid #999;}
#mole {position:absolute; left:0; top:0 z-index:50;}
