h1{
  margin-bottom: 15px !important;
}

#h1{
  height: 5px;
  padding: 0px;
  background-color: #70c8e9;
}

div.tableWrap{
  background: white;
}

table.infoTable {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 1145px;
}

table.infoTable thead th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  color: white;
  background-color: #8bcbe3;
}

table.infoTable td{
  background-color: #eee;
  font-size: 18px;
  text-align: center;
}
