.display_none {
  display: none;
}

.display_block{
  display: block;
}

legend {
  margin: 0px auto;
}

#quizWrap p{
  text-align:center;
}

.ansO img, .ansX img{
  width: 250px;
  height: 250px;
}

#quizWrap {
  width: 900px;
  margin: 150px auto;
}

.ansO {
  float: left;
  margin-left: 80px;
}

.ansX {
  float: right;
  margin-right: 80px;
}

input[type=radio]{
  clip: rect(0,0,0,0);
}

input[type=radio]:checked+img {
    background-color: rgba(255, 255, 255, 0);
    padding:-3px;
    box-shadow: -3px 3px 3px 3px rgba(79, 75, 76, 0.5);
}
