/*
Description:
    Contains all the styles for the winning wheel page.

Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.

    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body
{
    font-family: arial;
}

/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(./wheel_back2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 20px;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: rgb(128, 232, 82);
}

td.pw2
{
    background: yellow;
}

td.pw3
{
    background: rgb(242, 65, 35);
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}


/* button Effect */
/* code by  https://nanati.me/css-button-design/  */
.color-bg-start {
  background-color: salmon;
}

.bg-animate-color {
  animation: random-bg .5s linear infinite;
}

@keyframes random-bg {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#spin_button {
  /* change bg color to get different hues    */
  background-color: #62beec;
  color: white;
  width: 78px;
  height: 40px;
  border: none;
  text-align: center;
  transition: all .3s ease;
  border-radius: 5px;
  /* letter-spacing: 2px; */
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: normal;
}

#spin_button:hover {
  animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}

.start-fun {
  background-color: #fff !important;
  /* change color of button text when fun is started   */
  color: salmon !important;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
